{% include 'layout.html' %}


<div class="container">
    <div class="card">
        <div class="card-header">
            Bir Hesabın Var Mı? Hemen Giriş Yap!
        </div>
        <div class="card-body">
            <form id="loginForm">
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input type="text" class="form-control" name="username" autocomplete="username" required>
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input type="password" class="form-control" name="password" autocomplete="current-password" required>
                </div>
                <button type="submit" class="btn btn-primary">Giriş</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            <a href="/auth/register-page"> Kayıt Ol? </a>
        </div>
    </div>
</div>
